.componentHome {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.formPilote {
    display: flex;
    flex-direction: column;
    color: white;
}

input {
    margin-top: 20px;
    margin-bottom: 40px;
}

label {
    color: white;
    font-size: 25px;
}

.radioLabel {
    color: white;
    font-size: 20px;
    margin-left: 200px;
}

.submitButton {
    width:20%;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
}

.errorMessage {
    font-size: 20px;
    color: red;
}